#app {
  font-family: 'AndikaW', '思源黑体 CN VF', 'Source Han Sans CN VF', '思源黑体 CN', 'Source Han Sans CN', '思源黑体 VF',
    'Source Han Sans SC VF', '思源黑体', 'Source Han Sans SC', 'SiwwngyanQhwktheiTK', 'SiwwngyanQhwkthei', sans-serif;
}

.songthei {
  font-family: 'CharisSILW', '思源宋体 CN VF', 'Source Han Serif CN VF', '思源宋体 CN', 'Source Han Serif CN',
    '思源宋体 VF', 'Source Han Serif SC VF', '思源宋体', 'Source Han Serif SC', 'SiwwngyanSongtheiTK',
    'SiwwngyanSongthei', serif;
}

.tekisuto-eiti-tu {
  font-size: 3.75rem !important;
  font-weight: 300;
  line-height: 3.75rem;
  letter-spacing: -0.0083333333em !important;
  text-transform: none !important;
}

.tekisuto-sabutaitoru-wan {
  font-size: 1rem !important;
  font-weight: normal;
  line-height: 1.75rem;
  letter-spacing: 0.009375em !important;
  text-transform: none !important;
}
